# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        name: Gradle Automation Build
        runs-on: ubuntu-latest
        strategy:
            matrix:
                java: [11, 13]
        steps:
            -
                uses: actions/checkout@v2
            -
                uses: actions/setup-java@v1
                with:
                    java-version: ${{ matrix.java }}
            - 
                name: 读取当前版本号
                id: version
                uses: ashley-taylor/read-json-property-action@v1.0
                with:
                    path: ./version.json
                    property: version
            -
              name: 读取当前信息
              id: description
              uses: ashley-taylor/read-json-property-action@v1.0
              with:
                  path: ./version.json
                  property: description

            # add cache to improve workflow execution time
            -
                name: Cache .gradle/caches
                uses: actions/cache@v1
                with:
                    path: ~/.gradle/caches
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
                    restore-keys: ${{ runner.os }}-gradle-
            -
                name: Cache .gradle/wrapper
                uses: actions/cache@v1
                with:
                    path: ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/*.gradle') }}
                    restore-keys: ${{ runner.os }}-gradle-wrapper-
            -
                name: Grant execute permission for gradlew
                run: chmod +x gradlew
            -
                name: Build Plugin
                run: ./gradlew buildPlugin
            -
                name: Build LegacyPlugin
                run: ./gradlew buildPluginLegacy
            - 
                name: Create GitHub release
                uses: marvinpinto/action-automatic-releases@latest
                with:
                    repo_token: "${{ secrets.GITHUB_TOKEN }}"
                    automatic_release_tag: "${{steps.version.outputs.value}}"
                    title: ${{ env.ReleaseVersion }}
                    body: "${{steps.description.outputs.value}}"
                    prerelease: false
                    files: |
                         build/mirai/*

